.loader-box {
  display: flex;
  justify-content: center;
  background-color: #64748b;
  border-radius: 5px;

  .object-fit-cover {
    object-fit: cover;
    width: 100%;
    display: block;
    height: 220px;
    border-radius: 5px;
  }

  .loader {
    padding: 1rem;
  }
}